<h1>Champions</h1>

{{#each champions}}

<ul>
    <li>{{nombre}}</li>
    <li>{{lane}}</li>
    <li>{{ad}}</li>
    <li>{{ap}}</li>
</ul>

{{/each}}

{{!-- Vamos a estar creando una tabla para cada champion --}}